@font-face {
  font-family: "Geist";
  src: url('../public/FONTS/Geist-v1.4.01/ttf/Geist-ExtraBold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Geist";
  src: url('../public/FONTS/Geist-v1.4.01/ttf/Geist-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: "Geist";
  color:#88888880;
}
nav{
  font-family: "Geist";
  font-weight: bold;
}
nav span{
  color: rgb(0 166 255);
}
.notificationbar span{
  color: rgb(0 166 255);
  font-size: 15px;
}
.bottomnav-btn{
  background: none !important;
  outline: none !important;
  border: none !important;
}
.bottomnav-btn:hover{
  cursor: pointer !important;
}
.bottomnav-btn span{
  font-size: 0.8rem;
}
.home{
  min-height: 100vh;
}
.swiper-slide{
  text-align: center;
  color: gray !important;
}
.swiper-slide span{
  font-size: 13px;
}
.search-btn{
  border: none !important;
  background: none !important;
  color: gray !important;
  font-size: 13px !important;
  padding: 0 !important;
  padding-right: 10px !important;
}
.block{
  width: 1px;
  height: 30px;
  background:#88888880;
}
path{
  fill: #88888880 !important;
}
.dropdown-menu{
  padding-left: 3vw !important;
  border: none !important;
}
.input-group-text{
  border-right: none !important;
  background: none !important;
}
.form-control{
  border-left: none !important;
}
.dropdown-search{
  background-color: white;
  top: 75px;
}